@*@model PacienteModel*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="h-80 text-center">

    <h1 class="display-4">Seja bem vindo à pagina da polaris</h1>

    <div class="list-group">
        <h4 >Integrantes do time polaris:</h4>
        <a href="#" >Daniel</a>
        <a href="#" >Guilherme</a>
        <a href="#" >Henrique</a>
        <a href="#" >Cláudio</a>
        <a href="#" >Bruno</a>
    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
